langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-text-splitters==0.3.0
langsmith==0.1.135
openai==1.51.2
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
sentence-transformers==3.2.0
tokenizers==0.20.1
tqdm==4.66.5
transformers==4.45.2

